dbdata/
node_modules/

prestashop/.htaccess
prestashop/*.log
prestashop/img/tmp

prestashop/app/config/parameters.php
prestashop/config/defines_custom.inc.php
prestashop/var/cache
prestashop/var/logs
prestashop/var/sessions
prestashop/var/modules
prestashop/cache

.DS_Store