@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Jost", sans-serif;
  font-size: 10px;
}

a:hover {
  color: $c_pink !important;
}

@media(min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}